In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/tp_score_base0_anonymized.csv", low_memory=False)
df.head()

,TYPEPRODUIT,TDPRNFOY,TDPRNCONT,TDPRNCARTE,TDPRNDT,TDPRDCREAT,TDOCNAUTO,TDPRNSOC,TDPRCPRODCOM,TDOCDDECIOCT,...,MDPRMDECO,MDPRMMENS,MDMAMPRIXCPT__1,MOUCH_PC_CPOLEACT,MOUCH_ATENA_FRAUDCODE,TDPRNAGCFIN,TDOCNAGCMEP,MCPFMMENSRES1,MCPFMMENSRES2,MCLFMFRAISGARD
0,REV,35330,15486,16521,30697,20160809,14375,10349,AD7,20160811,...,80000,3200,0,D,NDT,186.0,186.0,0.0,0.0,NaN
1,REV,18953,28271,32815,13965,20160711,16375,11137,AD7,20160711,...,80000,3200,0,D,NDT,186.0,186.0,NaN,NaN,NaN
2,REV,40043,31191,8914,40101,20150424,12089,26024,AD7,20150429,...,80000,3360,0,D,PDR,186.0,186.0,200.0,0.0,NaN
3,REV,1969,32342,30083,15636,20141016,32387,24698,AD7,20141021,...,80000,3360,0,D,PDR,186.0,186.0,NaN,NaN,NaN
4,REV,13764,7971,30292,28885,20140822,30672,31851,AD7,20140828,...,80000,3360,0,D,PDR,186.0,186.0,300.0,0.0,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40347 entries, 0 to 40346
Columns: 105 entries, TYPEPRODUIT to MCLFMFRAISGARD
dtypes: float64(22), int64(63), object(20)
memory usage: 32.3+ MB

In [5]:
df.describe()

,TDPRNFOY,TDPRNCONT,TDPRNCARTE,TDPRNDT,TDPRDCREAT,TDOCNAUTO,TDPRNSOC,TDOCDDECIOCT,TDPRNSOCAGR,TDPRNAGR,...,MDCOMDMA,MDPRBDUREE,MDPRMDECO,MDPRMMENS,MDMAMPRIXCPT__1,TDPRNAGCFIN,TDOCNAGCMEP,MCPFMMENSRES1,MCPFMMENSRES2,MCLFMFRAISGARD
count,40347.000000,40347.000000,40347.000000,40347.000000,4.034700e+04,40347.000000,40347.000000,4.034700e+04,40347.000000,40347.000000,...,40347.000000,40347.0,40347.000000,40347.000000,40347.0,39193.000000,39193.000000,38599.000000,37333.000000,381.000000
mean,20174.000000,20174.000000,20174.000000,20174.000000,2.014641e+07,20174.000000,20174.000000,2.014642e+07,20174.000000,20174.000000,...,80322.504771,0.0,79827.102387,3934.196644,0.0,147.218024,147.412497,261.702039,0.504460,258.223097
std,11647.319992,11647.319992,11647.319992,11647.319992,1.024916e+04,11647.319992,11647.319992,1.024497e+04,11647.319992,11647.319992,...,7089.474035,0.0,4660.765727,1634.638036,0.0,24.372178,23.735547,361.237832,24.576407,337.601735
min,1.000000,1.000000,1.000000,1.000000,2.013010e+07,1.000000,1.000000,2.013010e+07,1.000000,1.000000,...,60000.000000,0.0,20000.000000,1524.000000,0.0,0.000000,132.000000,0.000000,0.000000,0.000000
25%,10087.500000,10087.500000,10087.500000,10087.500000,2.014042e+07,10087.500000,10087.500000,2.014042e+07,10087.500000,10087.500000,...,80000.000000,0.0,80000.000000,3360.000000,0.0,133.000000,133.000000,0.000000,0.000000,1.000000
50%,20174.000000,20174.000000,20174.000000,20174.000000,2.015030e+07,20174.000000,20174.000000,2.015031e+07,20174.000000,20174.000000,...,80000.000000,0.0,80000.000000,3360.000000,0.0,133.000000,133.000000,57.000000,0.000000,150.000000
75%,30260.500000,30260.500000,30260.500000,30260.500000,2.015122e+07,30260.500000,30260.500000,2.015122e+07,30260.500000,30260.500000,...,80000.000000,0.0,80000.000000,3360.000000,0.0,186.000000,186.000000,475.000000,0.000000,347.000000
max,40347.000000,40347.000000,40347.000000,40347.000000,2.016083e+07,40347.000000,40347.000000,2.016090e+07,40347.000000,40347.000000,...,800000.000000,0.0,300000.000000,17000.000000,0.0,186.000000,186.000000,4560.000000,3000.000000,2000.000000

## Feature Engineering

### Nodos

In [6]:
df["Nodos"] = df["TDPRNFOY"].astype(str) + " " + df["TDPRNCONT"].astype(str) + " " + df["TDPRNCARTE"].astype(str) + " " + df["TDPRNDT"].astype(str)

In [7]:
df["Nodos"].head()

0    35330 15486 16521 30697
1    18953 28271 32815 13965
2     40043 31191 8914 40101
3     1969 32342 30083 15636
4     13764 7971 30292 28885
Name: Nodos, dtype: object

In [8]:
df.duplicated(subset=["Nodos"]).any()

np.False_

### Entite

"Create variable Entity using variable TDPRNSOC (company number).

- if TDPRNSOC = (236,240) then Entity = 'A'.

- if TDPRNSOC = (133,134,237,238,239) then Entity = 'B'."

In [9]:
df["ZCOM_SE_NSOC"].dtype

dtype('int64')

In [10]:
conditions = [
    (df["ZCOM_SE_NSOC"] == 236),
    (df["ZCOM_SE_NSOC"] == 240),
    (df["ZCOM_SE_NSOC"] == 133),
    (df["ZCOM_SE_NSOC"] == 134),
    (df["ZCOM_SE_NSOC"] == 237),
    (df["ZCOM_SE_NSOC"] == 238),
    (df["ZCOM_SE_NSOC"] == 239),
]
values = ["A","A","B","B","B","B","B"]

In [11]:
df["Entite"] = np.select(conditions, values, None)

In [12]:
df["Entite"].value_counts()

Entite
B    29465
A    10882
Name: count, dtype: int64

### Decision_Finale

"Create variable Final_decision (final decision after applicaiton analysis)."

- if TDPRCPOSA = ('SAN','ENC','FIN','RET','SOL','INS') then Final_decision = 'ACP' (financed).

- if TDPRCPOSA = ('ANN','SS','PRA') then Final_decision = 'SS' (cancelled).

- if TDPRCPOSA = ('REF','RAG') then Final_decision = 'REF' (refused).

In [13]:
conditions = [
(df["TDPRCPOSA"].isin(["SAN","ENC","FIN","RET","SOL","INS"])),
(df["TDPRCPOSA"].isin(["ANN","SS","PRA"])),
(df["TDPRCPOSA"].isin(["REF","RAG"]))]

values = ["ACP","SS","REF"]

df["Decision_Finale"] = np.select(conditions, values, None)

In [14]:
df["Decision_Finale"].value_counts()

Decision_Finale
ACP    38168
SS      1859
REF      320
Name: count, dtype: int64

### ACP, SS, REF, Flag_Finance

"Create variable ACP (accepted application)."

- if Final_decision = 'ACP' then ACP = 1 else 0.

In [15]:
df["ACP"] = np.where(df["Decision_Finale"] == "ACP", 1, 0)

"Create variable SS (cancelled)."

- if Final_decision = 'SS' then SS = 1 else 0.

In [16]:
df["SS"] = np.where(df["Decision_Finale"] == "SS", 1, 0)

"Create variable REF (refused)."

- if Final_decision = 'REF' then REF = 1 else 0.

In [17]:
df["REF"] = np.where(df["Decision_Finale"] == "REF", 1, 0)

"Using variable Final_decision create variable Flag_Financed (0/1)."

- if Final_decision = 'ACP'  application is financed.

In [18]:
df["Flag_Finance"] = np.where(df["Decision_Finale"] == "ACP", 1, 0)

In [19]:
print(df["ACP"].value_counts())
print(df["SS"].value_counts())
print(df["REF"].value_counts())
print(df["Flag_Finance"].value_counts())

ACP
1    38168
0     2179
Name: count, dtype: int64
SS
0    38488
1     1859
Name: count, dtype: int64
REF
0    40027
1      320
Name: count, dtype: int64
Flag_Finance
1    38168
0     2179
Name: count, dtype: int64

### Flag_CTX

"Create variable Flag_CTX (0/1) using DATRANS (date applcation has been transmitted to litigation)."

- if DATRANS is not missing then Flag_CTX = 1.§

In [20]:
df["Flag_CTX"] = np.where(df["DATRANS"].isnull(), 0, 1)

In [21]:
df["Flag_CTX"].value_counts()

Flag_CTX
0    39309
1     1038
Name: count, dtype: int64

### Fraudeur

"Create variable fraudster."

- if MOUCH_ATENA_FRAUDCODE = ('CG1','CG2') then fraudster = 1 else 0.

In [22]:
df["MOUCH_ATENA_FRAUDCODE"].value_counts()

MOUCH_ATENA_FRAUDCODE
PDR    13555
NDT    13266
CGB      281
CGI      145
CGN       19
CG1       10
Name: count, dtype: int64

In [23]:
df["Fraudeur"] = np.where(df["MOUCH_ATENA_FRAUDCODE"].isin(["CG1","CG2"]), 1, 0)

In [24]:
df["Fraudeur"].value_counts()

Fraudeur
0    40337
1       10
Name: count, dtype: int64

### Gen_Demande

Create variable Gen_Demand (year + month of demand in format YYYYMM) using variable TDPRDCREAT (date of demand application creation in format YYYYMMDD).

In [25]:
df["Gen_Demande"] = df["TDPRDCREAT"].astype(str).str[0:6]
df["Gen_Demande"].unique()

array(['201608', '201607', '201504', '201410', '201408', '201406',
       '201511', '201308', '201606', '201602', '201605', '201512',
       '201309', '201604', '201505', '201303', '201506', '201306',
       '201402', '201510', '201507', '201601', '201409', '201304',
       '201405', '201401', '201404', '201302', '201412', '201509',
       '201311', '201307', '201503', '201403', '201508', '201301',
       '201407', '201411', '201310', '201501', '201502', '201603',
       '201312', '201305'], dtype=object)

### Flag_Actif and Gen_Active

"Create variable Flag_Actif  (0/1) using ACTIVITE_DATE_min."

- if variable ACTIVITE_DATE_min is not missing then Flag_Actif=1 else if ACTIVITE_DATE_min=99999999 then Flag_Actif=0.

 (The later is filled if CRD - SREC > 4€).

In [26]:
df["Flag_Actif"] = np.where(df["ACTIVITE_DATE_min"].isin([99999999]), 0, 1)

In [27]:
df["Flag_Actif"].value_counts()

Flag_Actif
1    33317
0     7030
Name: count, dtype: int64

Card activation month (in format SSAAMMJJ). Use this information to :

- create variable Gen_Active (in format YYYYMM).

In [28]:
df["Gen_Active"] = np.where(df["ACTIVITE_DATE_min"].isin([99999999]), 0, df["ACTIVITE_DATE_min"].astype(str).str[:-2])

### Horizon_Activ

Create variable Horizon_Activ (number of months between demand and card activation).

In [29]:
print(df["Gen_Demande"].dtypes)
print(df["Gen_Active"].dtypes)

object
object

In [30]:
df["Gen_Demande"] = pd.to_datetime(df["Gen_Demande"], errors = 'coerce', format = '%Y%m')
df["Gen_Active"] = pd.to_datetime(df["Gen_Active"], errors = 'coerce', format = '%Y%m')

In [31]:
df['Horizon_Activ'] = (df["Gen_Active"].dt.year - df["Gen_Demande"].dt.year) * 12 + (df["Gen_Active"].dt.month - df["Gen_Demande"].dt.month)

In [32]:
df['Horizon_Activ'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Horizon_Activ, dtype: float64

### CSP_Tit

"Create variable CSP_Tit (socio-professional category of the holder) using variable MCLICCSP__1 and:"
- if MCLICCSP__1 = (20,29) then CSP_Tit = 'liberal_profession'.
- if MCLICCSP__1 = (1) then CSP_Tit = 'Farmer'.
- if MCLICCSP__1 = (10,11) then CSP_Tit = 'Trader'.
- if MCLICCSP__1 = (15) then CSP_Tit = 'Artisan'.
- if MCLICCSP__1 = (19) then CSP_Tit = 'Stallholder '.
- if MCLICCSP__1 = (25,64,72,86,80,81,68,73,63,66,71) then CSP_Tit = 'worker'.
- if MCLICCSP__1 = (30,31,55,40,41,48,28) then CSP_Tit = 'Managerial position'.
- if MCLICCSP__1 = (51,50,60,70) then CSP_Tit = 'Employee'.
- if MCLICCSP__1 = (74) then CSP_Tit = 'Military'.
- if MCLICCSP__1 = (90,91) then CSP_Tit = 'Retired'.
- if MCLICCSP__1 = (92,94,98,89) then CSP_Tit = 'Unemployed'.
- if MCLICCSP__1 = (96,93) then CSP_Tit = 'Temporary contract'.
- if MCLICCSP__1 = (85) then CSP_Tit = 'Security'.
- if MCLICCSP__1 = (2) then CSP_Tit = 'Agricultural worker'.
- if MCLICCSP__1 = (97,99) then CSP_Tit = 'Executive'.

In [33]:
conditions = [
    (df["MCLICCSP__1"].isin([20,29])),
    (df["MCLICCSP__1"].isin([1])),
    (df["MCLICCSP__1"].isin([10,11])),
    (df["MCLICCSP__1"].isin([15])),
    (df["MCLICCSP__1"].isin([19])),
    (df["MCLICCSP__1"].isin([25,64,72,86,80,81,68,73,63,66,71])),
    (df["MCLICCSP__1"].isin([30,31,55,40,41,48,28])),
    (df["MCLICCSP__1"].isin([51,50,60,70])),
    (df["MCLICCSP__1"].isin([74])),
    (df["MCLICCSP__1"].isin([90,91])),
    (df["MCLICCSP__1"].isin([92,94,98,89])),
    (df["MCLICCSP__1"].isin([96,93])),
    (df["MCLICCSP__1"].isin([85])),
    (df["MCLICCSP__1"].isin([2])),
    (df["MCLICCSP__1"].isin([97,99]))
]

values = ['liberal_profession','Farmer','Trader','Artisan','Stallholder','worker','Managerial position','Employee',
          'Military','Retired','Unemployed','Temporary contract','Security', 'Agricultural worker', 'Executive']

df["CSP_Tit"] = np.select(conditions,values, None)

In [34]:
df["CSP_Tit"].value_counts()

CSP_Tit
Employee               27634
Retired                 4575
worker                  3247
Managerial position     3174
Trader                   535
Military                 119
Unemployed               112
Security                  87
liberal_profession        79
Artisan                   66
Agricultural worker       27
Farmer                    10
Executive                  7
Temporary contract         3
Name: count, dtype: int64

### Mrev_Tit

"Create variable Mrev_Tit (salary) using this variable."

Warning:

- If CSP Code inactif, salary must be 0.

- If MCLICCSP__1 = (89,92,94,95,98,0,.) then Mrev_Tit = 0

In [35]:
df["Mrev_Tit"] = np.where(df["MCLICCSP__1"].isin([89,92,94,95,98,0]), 0, df["MCLIMRESS__1"])
df["Mrev_Tit"].isna().sum()

np.int64(77)

### Dnais_Tit

Create date variable birthday **Dnais_Tit** using variable **MCLIDNAIS__1** (format JJ.MM.SSAA).

On remarque qu'il y a des dates qui n'ont pas le bon format : *06.13.1951*, *01.14.1978*, *04.18.1951*.
On ne va récupérer que l'année et le convertir sous forme de date

In [ ]:
df["Dnais_Tit"] = df["MCLIDNAIS__1"].astype(str).str[6:]
df["Dnais_Tit"].isna().sum()

np.int64(0)

In [37]:
df["Dnais_Tit"] = pd.to_datetime(df["Dnais_Tit"], format = '%Y', errors = 'coerce')
print(df["Dnais_Tit"].isna().sum())
print(df["Dnais_Tit"].value_counts())

5
Dnais_Tit
1965-01-01    1078
1972-01-01    1042
1969-01-01    1032
1966-01-01    1023
1967-01-01    1019
              ...
1883-01-01       1
1868-01-01       1
1924-01-01       1
1900-01-01       1
1911-01-01       1
Name: count, Length: 74, dtype: int64

### Age_Tit

Create variable Age_Tit (applicant age) using variables Dnais_Tit and Gen_Demande (difference between Gen_Demande and Dnais_Tit).

In [38]:
print(df["Dnais_Tit"].dtype)
print(df["Gen_Demande"].dtype)
print(df["Dnais_Tit"].head(5))
print(df["Gen_Demande"].head(5))

datetime64[ns]
datetime64[ns]
0   1955-01-01
1   1964-01-01
2   1948-01-01
3   1951-01-01
4   1948-01-01
Name: Dnais_Tit, dtype: datetime64[ns]
0   2016-08-01
1   2016-07-01
2   2015-04-01
3   2014-10-01
4   2014-08-01
Name: Gen_Demande, dtype: datetime64[ns]

In [39]:
df["Age_Tit"] = df["Gen_Demande"].dt.year - df["Dnais_Tit"].dt.year
df["Age_Tit"].value_counts()

Age_Tit
42.0     1042
47.0     1042
49.0     1036
48.0     1028
44.0     1009
         ...
145.0       1
91.0        1
81.0        1
115.0       1
105.0       1
Name: count, Length: 73, dtype: int64

### Ancprof_Tit

Create date variable Ancprof_Tit (Date of professional activity start) using variable MCLICANCPROF__1 (Date of professional activity start in format AA).

We got an error when trying to convert MCLICANCPROF__1 : invalid literal for int() with base 10: '**'.
Let's check and replace !

In [40]:
df['MCLICANCPROF__1'] = np.where(df['MCLICANCPROF__1'] == '**', pd.NaT, df['MCLICANCPROF__1'])
df['MCLICANCPROF__1'] = pd.to_numeric(df['MCLICANCPROF__1'], errors = 'coerce')

Let's create a function that will transform the *format* **YY** in **YYYY**

In [ ]:
def annee_complete(x) :
    if x["MCLICANCPROF__1"] > 23 :
        return 1900 + x["MCLICANCPROF__1"]
    else :
        return 2000 + x["MCLICANCPROF__1"]

In [42]:
df["Ancprof_Tit"] = np.where(df["MCLICANCPROF__1"] == pd.NaT, pd.NaT, df.apply (lambda x : annee_complete(x), axis = 1))
df["Ancprof_Tit"]

0        1941.0
1        2006.0
2        2006.0
3        2009.0
4        2000.0
          ...
40342    1999.0
40343    2015.0
40344    2015.0
40345    2013.0
40346    2004.0
Name: Ancprof_Tit, Length: 40347, dtype: object

### Ancien_Prof_Tit

Create variable **Ancien_Prof_Tit** (number of years of professional seniority) using variables **Ancprof_Tit** and **Gen_Demande** difference between the two variables in years).

In [43]:
df["Ancien_Prof_Tit"] = pd.to_numeric(df["Gen_Demande"].dt.year - df["Ancprof_Tit"], errors = 'coerce')

### Ancbanc_Tit

Create variable Ancbanc_Tit (date of account openning) using variable MBQRBOUVCPTE__1 (Year of account openning in format AA).     

 
Let's use the same function that we had used for the creation of the variable **Ancprof_Tit**

In [44]:
def annee_complete(x) :
    if x["MBQRBOUVCPTE__1"] > 23 :
        return 1900 + x["MBQRBOUVCPTE__1"]
    else :
        return 2000 + x["MBQRBOUVCPTE__1"]

In [ ]:
year_account = pd.to_numeric(df["MBQRBOUVCPTE__1"], errors = 'coerce')

In [46]:
df["Ancbanc_Tit"] = np.where(year_account == pd.NaT, pd.NaT, df.apply (lambda x : annee_complete(x), axis = 1))

In [47]:
df["Ancbanc_Tit"].value_counts()

Ancbanc_Tit
2000.0    8756
2010.0    2844
1990.0    1713
2009.0    1525
2005.0    1524
1999.0    1327
2008.0    1208
2006.0    1150
2011.0    1140
2012.0    1089
2007.0    1016
2004.0     979
1980.0     951
2013.0     937
1995.0     924
2003.0     923
2001.0     775
2014.0     738
1998.0     737
2002.0     656
2015.0     554
1994.0     550
1996.0     528
1985.0     524
1997.0     463
1989.0     447
1993.0     417
1992.0     415
1991.0     320
1984.0     296
1988.0     288
1987.0     277
1986.0     268
1983.0     238
1982.0     219
1970.0     205
1975.0     194
1978.0     172
1981.0     160
1979.0     149
1976.0     128
1977.0     119
2016.0     113
1974.0     107
1973.0      96
1972.0      82
1969.0      53
1971.0      52
1968.0      41
1967.0      28
1965.0      28
1966.0      20
1964.0      19
1961.0       7
1960.0       6
1962.0       6
1963.0       5
Name: count, dtype: int64

### Ancien_Banc_Tit

Create variable **Ancien_Banc_Tit** (bank account seniority in years) using variables **Ancbanc_Tit** et **Gen_Demande** (difference in years).

In [48]:
df["Ancien_Banc_Tit"] = pd.to_numeric(df["Gen_Demande"].dt.year - df["Ancbanc_Tit"], errors = 'coerce')

### CSP_Cj

"Create variable CSP_Cj (socio-professional category of the holders partner) using variable MCLICCSP__2 and :"
- if MCLICCSP__2 = (20,29) then CSP_Cj = 'liberal_profession'.
- if MCLICCSP__2 = (1) then CSP_Cj = 'Farmer'.
- if MCLICCSP__2 = (10,11) then CSP_Cj = 'Trader'.
- if MCLICCSP__2 = (15) then CSP_Cj = 'Artisan'.
- if MCLICCSP__2 = (19) then CSP_Cj = 'Stallholder '.
- if MCLICCSP__2 = (25,64,72,86,80,81,68,73,63,66,71) then CSP_Cj = 'worker'.
- if MCLICCSP__2 = (30,31,55,40,41,48,28) then CSP_Cj = 'Managerial position'.
- if MCLICCSP__2 = (51,50,60,70) then CSP_Cj = 'Employee'.
- if MCLICCSP__2 = (74) then CSP_Cj = 'Military'.
- if MCLICCSP__2 = (90,91) then CSP_Cj = 'Retired'.
- if MCLICCSP__2 = (92,94,98,89) then CSP_Cj = 'Unemployed'.
- if MCLICCSP__2 = (96,93) then CSP_Cj = 'Temporary contract'.
- if MCLICCSP__2 = (85) then CSP_Cj = 'Security'.
- if MCLICCSP__2 = (2) then CSP_Cj = 'Agricultural worker'.
- if MCLICCSP__2 = (97,99) then CSP_Cj = 'Executive'.

In [49]:
conditions = [
    (df["MCLICCSP__2"].isin([20,29])),
    (df["MCLICCSP__2"].isin([1])),
    (df["MCLICCSP__2"].isin([10,11])),
    (df["MCLICCSP__2"].isin([15])),
    (df["MCLICCSP__2"].isin([19])),
    (df["MCLICCSP__2"].isin([25,64,72,86,80,81,68,73,63,66,71])),
    (df["MCLICCSP__2"].isin([30,31,55,40,41,48,28])),
    (df["MCLICCSP__2"].isin([51,50,60,70])),
    (df["MCLICCSP__2"].isin([74])),
    (df["MCLICCSP__2"].isin([90,91])),
    (df["MCLICCSP__2"].isin([92,94,98,89])),
    (df["MCLICCSP__2"].isin([96,93])),
    (df["MCLICCSP__2"].isin([85])),
    (df["MCLICCSP__2"].isin([2])),
    (df["MCLICCSP__2"].isin([97,99])),
    (df["MCLICCSP__2"] != 0)
]

values = ['liberal_profession','Farmer','Trader','Artisan','Stallholder','worker','Managerial position','Employee',
          'Military','Retired','Unemployed','Temporary contract','Security', 'Agricultural worker', 'Executive','Else']

df["CSP_Cj"] = np.select(conditions, values, pd.NaT)

In [50]:
df['CSP_Cj'].isna().sum()

np.int64(22921)

### Mrev_Cj

"Create variable Mrev_Cj (partner salary) using this variable. Warning :
- if code CSP inactif, then salary must be 0.
- if MCLICCSP__2 = (89,92,94,95,98,0.) then Mrev_Cj = 0

In [51]:
df["Mrev_Cj"] = np.where(df["MCLICCSP__2"].isin([89,92,94,95,98,0]), 0, df["MCLIMRESS__2"])

In [52]:
df["Mrev_Cj"].isna().sum()

np.int64(5726)

### Dnais_Cj

Create date variable Dnais_Cj (partner birthday) using variable MCLIDNAIS__2 (in format DD.MM.YYYY).

In [53]:
df["Dnais_Cj"] = df["MCLIDNAIS__2"].astype(str).str[6:]
df["Dnais_Cj"] = pd.to_datetime(df["Dnais_Cj"], format = '%Y', errors = 'coerce')

In [54]:
df["Dnais_Cj"].isna().sum()

np.int64(35861)

### Age_Cj

Create variable **Age_Cj** using variables **Dnais_Cj** and **Gen_Demande** (difference between Gen_Demande and Dnais_Cj).

In [55]:
print(df["Dnais_Cj"].dtype)
print(df["Gen_Demande"].dtype)
print(df["Dnais_Cj"].head(5))
print(df["Gen_Demande"].head(5))

datetime64[ns]
datetime64[ns]
0          NaT
1          NaT
2   1946-01-01
3          NaT
4   1952-01-01
Name: Dnais_Cj, dtype: datetime64[ns]
0   2016-08-01
1   2016-07-01
2   2015-04-01
3   2014-10-01
4   2014-08-01
Name: Gen_Demande, dtype: datetime64[ns]

In [56]:
df["Age_Cj"] = df["Gen_Demande"].dt.year - df["Dnais_Cj"].dt.year

In [57]:
df["Age_Cj"]

0         NaN
1         NaN
2        69.0
3         NaN
4        62.0
         ...
40342     NaN
40343     NaN
40344     NaN
40345     NaN
40346     NaN
Name: Age_Cj, Length: 40347, dtype: float64

### Ancprof_Cj

Create date variable Ancprof_Cj (professional seniority) using variable MCLICANCPROF__2 (year partner professional activity started).

In [58]:
pd.to_numeric(df["MCLICANCPROF__2"], errors = 'coerce')

def annee_complete(x) :
    if x["MCLICANCPROF__2"] > 23 :
        return 1900 + x["MCLICANCPROF__2"]
    else :
        return 2000 + x["MCLICANCPROF__2"]

df["Ancprof_Cj"] = np.where(df["MCLICANCPROF__2"] == pd.NaT, pd.NaT, df.apply (lambda x : annee_complete(x), axis = 1))

In [59]:
df["Ancprof_Cj"].isna().sum()

np.int64(38947)

### Ancien_Prof_Cj

Create variable Ancien_Prof_Cj (years of partners professional seniority) use variables Ancprof_Cj and Gen_Demande (difference in years).

In [60]:
df["Ancien_Prof_Cj"] = pd.to_numeric(df["Gen_Demande"].dt.year - df["Ancprof_Cj"], errors = 'coerce')

In [61]:
df["Ancien_Prof_Cj"].isna().sum()

np.int64(38947)

### Ancbanc_Cj

Create variable **Ancbanc_Cj** (date of account openning) using variable **MBQRBOUVCPTE__2** (Year of account openning in format AA).

In [62]:
def annee_complete(x) :
    if x["MBQRBOUVCPTE__2"] > 23 :
        return 1900 + x["MBQRBOUVCPTE__2"]
    else :
        return 2000 + x["MBQRBOUVCPTE__2"]

year_account = pd.to_numeric(df["MBQRBOUVCPTE__2"], errors = 'coerce')
year_account.isna().sum()

np.int64(2491)

In [63]:
df["Ancbanc_Cj"] = np.where(year_account == pd.NaT, pd.NaT, df.apply (lambda x : annee_complete(x), axis = 1))

In [64]:
df["Ancbanc_Cj"].isna().sum()

np.int64(2491)

### Ancien_Banc_Cj

Create variable Ancien_Banc_Cj (bank account seniority in years) using variables Ancbanc_Cj et Gen_Demande (difference in years).

In [65]:
df["Ancien_Banc_Cj"] = pd.to_numeric(df["Gen_Demande"].dt.year - df["Ancbanc_Cj"], errors = 'coerce')

In [66]:
df["Ancien_Banc_Cj"]

0        26.0
1        33.0
2         6.0
3        14.0
4         5.0
         ...
40342    17.0
40343    17.0
40344    16.0
40345    16.0
40346    27.0
Name: Ancien_Banc_Cj, Length: 40347, dtype: float64

### Anc_Hab

Create variable Anc_Habj (habitation seniority) using variable MCLFCANCHAB1 (year started habitation).

In [67]:
def annee_complete(x) :
    if x["MCLFCANCHAB1"] > 23 :
        return 1900 + x["MCLFCANCHAB1"]
    else :
        return 2000 + x["MCLFCANCHAB1"]

In [68]:
df["Anc_Hab"] = np.where(df["MCLFCANCHAB1"] == pd.NaT, pd.NaT, df.apply (lambda x : annee_complete(x), axis = 1))

In [69]:
df["Anc_Hab"].isna().sum()

np.int64(36249)

### Ancien_Habit

Create variable Ancien_Habit (number of habitation years) using variables Anc_Hab and Gen_Demande (difference in years).

In [70]:
df["Ancien_Habit"] = pd.to_numeric(df["Gen_Demande"].dt.year - df["Anc_Hab"], errors = 'coerce')

In [71]:
df["Ancien_Habit"].head()

0     NaN
1    20.0
2    46.0
3    25.0
4    41.0
Name: Ancien_Habit, dtype: float64

### Nb_Enf

Create variable Nb_Enf (number of children) converting variable MCLFBENF in numeric format.

In [72]:
df["Nb_Enf"] = pd.to_numeric(df["MCLFBENF"], errors = 'coerce')

In [73]:
df["Nb_Enf"].isna().sum()

np.int64(35727)

### Ressource

"Create variable Ressource en by summig variables (MCLFMALLOCLOG+MCLFMALLOCFAM+Mrev_Tit+Mrec_Cj)."

Warning : if one of variables above is missing it must be treated as 0.

In [74]:
df["Ressource"] = pd.to_numeric(df["MCLFMALLOCFAM"].fillna(0) +
                                df["MCLFMALLOCLOG"].fillna(0) +
                                df["Mrev_Tit"].fillna(0) +
                                df["Mrev_Cj"].fillna(0) , errors='coerce')

df["Ressource"].value_counts().head()

Ressource
1400.0    2101
1700.0    1549
2200.0    1401
1500.0    1282
1600.0    1153
Name: count, dtype: int64

### Charge

"Create variable Charge by summing variables (MCLFMFRAISGARD+MCPFMMENSRES1+MCPFMMENSRES2)."

Warning : if one of variables above is missing it must be treated as 0.

In [75]:
df["Charge"] = pd.to_numeric(df["MCLFMFRAISGARD"].fillna(0)
                            + df["MCPFMMENSRES1"].fillna(0)
                            + df["MCPFMMENSRES2"].fillna(0), errors='coerce')

df["Charge"].value_counts().head()

Charge
0.0      19778
500.0     1099
400.0      868
600.0      841
300.0      841
Name: count, dtype: int64

### RAV

Create variable RAV making the difference between variables Ressource and Charge.

In [76]:
df["RAV"] = df["Ressource"] - df["Charge"]

df["RAV"].value_counts().head()

RAV
1400.0    1303
1700.0    1015
1500.0     894
2200.0     848
1600.0     827
Name: count, dtype: int64

### Ratio_Ress_RAV

Create variable Ratio_Ress_RAV dividing variables Ressource and RAV.

In [77]:
df["Ratio_Ress_RAV"] = df["Ressource"] / df["RAV"]

df["Ratio_Ress_RAV"].value_counts().head()

Ratio_Ress_RAV
1.000000    19777
1.333333      323
1.250000      242
1.200000      176
1.500000      162
Name: count, dtype: int64

### RAV_Rev

Create variable RAV_Rev dividing variable RAV and the sum of variables Mrev_Tit and Mrev_Cj.

In [78]:
df["RAV_Rev"] = df["RAV"] / (df["Mrev_Tit"] + df["Mrev_Cj"])

df["RAV_Rev"].value_counts()

RAV_Rev
1.000000    3961
1.166667     853
1.133333     675
1.100000     627
1.153846     541
            ...
1.008347       1
0.757273       1
0.789091       1
0.803493       1
0.932297       1
Name: count, Length: 9984, dtype: int64

### Tx_Edt

Create variable Tx_Edt dividing variables Charge and Ressource.

In [79]:
df["Tx_Edt"] = df["Charge"] / df["Ressource"]

df["Tx_Edt"].value_counts().head()

Tx_Edt
0.000000    19777
0.250000      323
0.200000      242
0.166667      176
0.333333      162
Name: count, dtype: int64

### DMA

Create variable DMA (in euros) using variable MDCOMDMA (amount DMA in cents mouchards propagation).

In [80]:
df["DMA"] = df["MDCOMDMA"]/100

df["DMA"].value_counts().head()

DMA
800.0     40236
2000.0       75
1500.0       24
3000.0        6
1600.0        1
Name: count, dtype: int64

### Mdecouvert

Create variable Mdecouvert (amount of decouvert in cents, it must be converted in euros) using MDPRMDECO.

In [81]:
df["Mdecouvert"] = df["MDPRMDECO"] /100

### DEFAUT_B

Create variable DEFAUT_B (DEFAUT_B=h12_ctx_r3).

In [82]:
df["Defaut_B"] = 0
for var in ["HMIN_R3_min", "HMIN_CTX_min"]:
    df["TEMP"] = df[var].apply(lambda x: 1  if 0 < x < 13 else 0)
    df["Defaut_B"] = df[["Defaut_B","TEMP"]].max(axis=1)
df.drop(columns=["TEMP"], inplace=True)

In [83]:
df["Defaut_C"] = np.where (df["HMIN_R3_min"] <= 12, 1, 0)

In [84]:
df["Defaut_C"].value_counts()

Defaut_C
0    39128
1     1219
Name: count, dtype: int64

In [85]:
df["Defaut_B"].value_counts()

Defaut_B
0    39096
1     1251
Name: count, dtype: int64

### MP & BP

Create variable MP after creating late payments flags per horizons.

Create variable MP (bad payer) : if DEFAUT_B=1 then MP=1 else 0.

Create variable BP after creating late payments per horizons module risk of sctools can be used for this.

Create variable BP (good payer) : if DEFAUT_B=0 then BP=1 else 0.

In [86]:
df["MP"] = np.where(df["Defaut_B"]==1, 1, 0 )

df["BP"] = np.where(df["Defaut_B"]==1, 0, 1 )

## Save

In [88]:
df.to_csv("../data/feature_engineered_data.csv", index=False)