In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/feature_engineered_data.csv', low_memory=False)

In [3]:
df.shape

(40347, 149)

In [4]:
col_to_analyse = [
    "Gen_Demande",
    "Gen_Active",
    "Horizon_Activ",
    "ZCOM_SR_CL_MIMPOTS",
    "Mrev_Tit",
    "Nb_Enf",
    "Ressource",
    "Charge",
    "Ancbanc_Tit",
    "DMA",
    "MDPRBDUREE",
    "Mdecouvert",
    "Ancien_Banc_Tit",
    "Ancien_Prof_Tit",
    "RAV",
    "Ratio_Ress_RAV",
    "RAV_Rev",
    "Tx_Edt",
    "Age_Tit",
    "Flag_CTX",
    "Flag_Actif",
    "Fraudeur",
    "ACP",
    "SS",
    "REF",
    "Flag_Finance",
    "Entite",
    "Decision_Finale",
    "MCLFCHAB1",
    "MCLFCSITFAM",
    "CSP_Tit",
    "MDPRCPRODCOM",
    "MDPRCTYPEPROD",
    "BP"
]

In [5]:
potential_vars = ['ZCOM_SR_CL_MIMPOTS','Mrev_Tit','Mrev_Cj','Nb_Enf','Ressource','Charge','Ancbanc_Tit','Ancbanc_Cj',
                  'DMA','MDPRBDUREE','Mdecouvert','Ancien_Banc_Tit','Ancien_Banc_Cj','Ancien_Prof_Tit',
                  'Ancien_Prof_Cj','Ancien_Habit','RAV','Ratio_Ress_RAV','RAV_Rev','Tx_Edt','Age_Tit','Age_Cj','Flag_CTX',
                  'Flag_Actif','Fraudeur','ACP','SS','REF','Flag_Finance','Decision_Finale','MCLFCHAB1','MCLFCSITFAM',
                  'CSP_Tit','CSP_Cj','MDPRCPRODCOM','MDPRCTYPEPROD','BP', 'Entite', 'Gen_Active', 'Gen_Demande', 'Horizon_Activ']
df.head()

,TYPEPRODUIT,TDPRNFOY,TDPRNCONT,TDPRNCARTE,TDPRNDT,TDPRDCREAT,TDOCNAUTO,TDPRNSOC,TDPRCPRODCOM,TDOCDDECIOCT,...,RAV,Ratio_Ress_RAV,RAV_Rev,Tx_Edt,DMA,Mdecouvert,Defaut_B,Defaut_C,MP,BP
0,REV,35330,15486,16521,30697,20160809,14375,10349,AD7,20160811,...,1700.0,1.000000,NaN,0.000000,800.0,800.0,0,0,0,1
1,REV,18953,28271,32815,13965,20160711,16375,11137,AD7,20160711,...,2059.0,1.000000,NaN,0.000000,800.0,800.0,0,0,0,1
2,REV,40043,31191,8914,40101,20150424,12089,26024,AD7,20150429,...,1555.0,1.128617,0.974922,0.113960,800.0,800.0,0,0,0,1
3,REV,1969,32342,30083,15636,20141016,32387,24698,AD7,20141021,...,2080.0,1.000000,1.106383,0.000000,800.0,800.0,0,0,0,1
4,REV,13764,7971,30292,28885,20140822,30672,31851,AD7,20140828,...,3734.0,1.080343,0.998930,0.074368,800.0,800.0,0,0,0,1

## Preprocessing

**DMA** amount cannot exceed 3000â‚¬.

In [6]:
df["DMA"] = np.where(df["DMA"] > 3000, df["DMA"].median(), df["DMA"])

**Applicantâ€™s age** must be between 18 and 85.

In [7]:
df["Age_Tit"] = np.where((df["Age_Tit"]<18) | (df["Age_Tit"]>85), df["Age_Tit"].median(), df["Age_Tit"])

**Professional seniority** must not exceed 55 years.

In [8]:
df["Ancien_Prof_Tit"] = np.where(df["Ancien_Prof_Tit"] > 55, 999999, df["Ancien_Prof_Tit"])

**Taxes amount** must not exceed 10 000â‚¬

In [9]:
df["ZCOM_SR_CL_MIMPOTS"] = np.where(df["ZCOM_SR_CL_MIMPOTS"] > 10000, df["ZCOM_SR_CL_MIMPOTS"].median(), df["ZCOM_SR_CL_MIMPOTS"])

**Income amount** must not exceed 100 000â‚¬.

In [10]:
df["Mrev_Tit"] = np.where(df["Mrev_Tit"] > 100000, df["Mrev_Tit"].median(), df["Mrev_Tit"])
df["Mrev_Cj"] = np.where(df["Mrev_Cj"] > 100000, df["Mrev_Tit"].median(), df["Mrev_Cj"])

## Quick analysis

In [11]:
def VarAnalysis(col):
    missing_values = df[col].isna().sum()
    total_values = df[col].count() + missing_values
    percentage_missing = (missing_values / total_values) * 100
    print(df[col].value_counts().head())
    # print("The IV is : ", information_value(df[col], df['BP']).sum())
    print("Le pourcentage de valeurs manquantes est de : ",percentage_missing, "%")
    if df[col].dtypes == 'float64' or df[col].dtypes == 'int64':
        print("La valeur maximale est : ", df[col].max())
        print("La valeur minimale est : ", df[col].min())
        print("La valeur moyenne est : ", df[col].mean())

In [12]:
for var in potential_vars :
    VarAnalysis(var)

ZCOM_SR_CL_MIMPOTS
0.0      13061
53.0       740
51.0       641
21.0       613
117.0      577
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  9404.0
La valeur minimale est :  0.0
La valeur moyenne est :  132.52234366867424
Mrev_Tit
1200.0    2569
1500.0    2090
2000.0    2046
1300.0    1548
1800.0    1469
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.1908444246164523 %
La valeur maximale est :  80000.0
La valeur minimale est :  0.0
La valeur moyenne est :  1830.4052892972436
Mrev_Cj
0.0       25895
2000.0      714
1500.0      672
1200.0      584
3000.0      409
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  14.19188539420527 %
La valeur maximale est :  40000.0
La valeur minimale est :  0.0
La valeur moyenne est :  479.80052569249875
Nb_Enf
0.0    2117
1.0    1065
2.0    1003
3.0     336
4.0      74
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  88.54933452301287 %
La valeur maximale est :  8.0
La valeur minimale est :  0.0
La valeur moyenne est :  0.9772727272727273
Ressource
1400.0    2101
1700.0    1549
2200.0    1401
1500.0    1282
1600.0    1153
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  631500.0
La valeur minimale est :  0.0
La valeur moyenne est :  2426.1635561503954
Charge
0.0      19778
500.0     1099
400.0      868
600.0      841
300.0      841
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  4560.0
La valeur minimale est :  0.0
La valeur moyenne est :  253.26921456366026
Ancbanc_Tit
2000.0    8756
2010.0    2844
1990.0    1713
2009.0    1525
2005.0    1524
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  4.562916697647904 %
La valeur maximale est :  2016.0
La valeur minimale est :  1960.0
La valeur moyenne est :  2000.0410845063107
Ancbanc_Cj
2000.0    8502
2010.0    2860
1990.0    1659
2009.0    1541
2005.0    1520
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  6.173941061293281 %
La valeur maximale est :  2016.0
La valeur minimale est :  1960.0
La valeur moyenne est :  2000.2286559594252
DMA
800.0     40237
2000.0       75
1500.0       24
3000.0        6
1600.0        1
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  3000.0
La valeur minimale est :  600.0
La valeur moyenne est :  803.0465957815946
MDPRBDUREE
0    40347
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  0
La valeur minimale est :  0
La valeur moyenne est :  0.0
Mdecouvert
800.0     39798
1500.0       24
799.0        18
499.0        14
548.0        14
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  3000.0
La valeur minimale est :  200.0
La valeur moyenne est :  798.2710238679456
Ancien_Banc_Tit
15.0    3293
16.0    2820
14.0    2689
13.0    2567
5.0     2003
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  4.562916697647904 %
La valeur maximale est :  56.0
La valeur minimale est :  -1.0
La valeur moyenne est :  14.551160858048096
Ancien_Banc_Cj
15.0    3195
16.0    2768
14.0    2601
13.0    2492
5.0     2010
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  6.173941061293281 %
La valeur maximale est :  56.0
La valeur minimale est :  -1.0
La valeur moyenne est :  14.369346999154692
Ancien_Prof_Tit
1.0    3620
2.0    2950
3.0    2355
4.0    1811
0.0    1751
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.2825488883931891 %
La valeur maximale est :  999999.0
La valeur minimale est :  -10.0
La valeur moyenne est :  7471.118758233291
Ancien_Prof_Cj
15.0    80
8.0     63
14.0    60
10.0    59
9.0     58
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  96.53010137060996 %
La valeur maximale est :  55.0
La valeur minimale est :  0.0
La valeur moyenne est :  15.960714285714285
Ancien_Habit
15.0    222
1.0     191
0.0     178
16.0    158
10.0    150
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  89.84311101197116 %
La valeur maximale est :  63.0
La valeur minimale est :  -1.0
La valeur moyenne est :  16.48438262567106
RAV
1400.0    1303
1700.0    1015
1500.0     894
2200.0     848
1600.0     827
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  631500.0
La valeur minimale est :  -1860.0
La valeur moyenne est :  2172.894341586735
Ratio_Ress_RAV
1.000000    19777
1.333333      323
1.250000      242
1.200000      176
1.500000      162
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0024784990209928866 %
La valeur maximale est :  inf
La valeur minimale est :  -22.22222222222222
La valeur moyenne est :  inf
RAV_Rev
1.000000    3961
1.166667     853
1.133333     675
1.100000     627
1.153846     541
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  14.36290182665378 %
La valeur maximale est :  inf
La valeur minimale est :  -inf
La valeur moyenne est :  nan
Tx_Edt
0.000000    19777
0.250000      323
0.200000      242
0.166667      176
0.333333      162
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0024784990209928866 %
La valeur maximale est :  inf
La valeur minimale est :  0.0
La valeur moyenne est :  inf
Age_Tit
42.0    1042
47.0    1042
49.0    1036
48.0    1028
44.0    1024
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.012392495104964435 %
La valeur maximale est :  83.0
La valeur minimale est :  18.0
La valeur moyenne est :  44.19756085469238
Age_Cj
49.0    143
48.0    129
50.0    129
52.0    126
51.0    123
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  88.88145339182591 %
La valeur maximale est :  90.0
La valeur minimale est :  17.0
La valeur moyenne est :  45.42911279536335
Flag_CTX
0    39309
1     1038
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  1
La valeur minimale est :  0
La valeur moyenne est :  0.025726819837906163
Flag_Actif
1    33317
0     7030
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  1
La valeur minimale est :  0
La valeur moyenne est :  0.8257615188242
Fraudeur
0    40337
1       10
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  1
La valeur minimale est :  0
La valeur moyenne est :  0.0002478499020992887
ACP
1    38168
0     2179
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  1
La valeur minimale est :  0
La valeur moyenne est :  0.945993506332565
SS
0    38488
1     1859
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  1
La valeur minimale est :  0
La valeur moyenne est :  0.046075296800257765
REF
0    40027
1      320
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  1
La valeur minimale est :  0
La valeur moyenne est :  0.007931196867177238
Flag_Finance
1    38168
0     2179
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  1
La valeur minimale est :  0
La valeur moyenne est :  0.945993506332565
Decision_Finale
ACP    38168
SS      1859
REF      320
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
MCLFCHAB1
L    15572
P    15099
F     6191
A     2555
E      227
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  1.4499219272808388 %
MCLFCSITFAM
C    23186
M    11082
K     3337
D     1351
V      773
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  1.3706099586090663 %
CSP_Tit
Employee               27634
Retired                 4575
worker                  3247
Managerial position     3174
Trader                   535
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  1.66555134210722 %
CSP_Cj
Else                   5865
Employee               5226
Unemployed             2682
Retired                1714
Managerial position     739
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  56.809676060177964 %
MDPRCPRODCOM
AD7    40347
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
MDPRCTYPEPROD
CP    40347
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
BP
1    39096
0     1251
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
La valeur maximale est :  1
La valeur minimale est :  0
La valeur moyenne est :  0.968993977247379
Entite
B    29465
A    10882
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
Gen_Active
2015-12-01    1778
2014-12-01    1331
2016-05-01    1242
2016-07-01    1179
2016-01-01    1158
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  17.423848117579993 %
Gen_Demande
2015-12-01    2295
2014-12-01    2040
2016-05-01    1664
2013-12-01    1465
2015-05-01    1279
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  0.0 %
Horizon_Activ
0.0    23851
1.0     7450
2.0      758
3.0      418
4.0      178
Name: count, dtype: int64
Le pourcentage de valeurs manquantes est de :  17.423848117579993 %
La valeur maximale est :  45.0
La valeur minimale est :  0.0
La valeur moyenne est :  0.5755620253924423

c:\Users\aysim\Documents\Ynov\EpreuvesCertif\BLOC5\Octroi\score-octroi\.venv\Lib\site-packages\numpy\_core\_methods.py:51: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

On remarque que les variables **Ancbanc_Tit** et **Ancbanc_Cj** ont des statistiques quasiment identiques en termes dee distribution des valeurs, de valeurs maximale, minimale et moyenne. Seul le pourcentage de valeurs manquantes diffÃ¨rent : **6.17% pour Ancbanc_Cj** et **4.5% pour Ancbanc_Tit**

On remarque que la variable **MDPRBDUREE** est remplie de valeurs nulles.

## Missing Values

Remplissons les **valeurs manquantes des variables** qui nous intÃ©ressent pour la suite.

In [13]:
# VÃ©rification des valeurs manquantes
na_counts = df[potential_vars].isna().sum()
na_pct = (na_counts / len(df) * 100).round(2)
missing_summary = (
    pd.DataFrame({'nb_na': na_counts, 'pct_na': na_pct})
      .sort_values('nb_na', ascending=False)
)

print(f"Nombre de lignes: {len(df)}")
display(missing_summary)
print("\nVariables avec au moins une valeur manquante:")
print(missing_summary[missing_summary.nb_na > 0])

Nombre de lignes: 40347

                    nb_na  pct_na
Ancien_Prof_Cj      38947   96.53
Ancien_Habit        36249   89.84
Age_Cj              35861   88.88
Nb_Enf              35727   88.55
CSP_Cj              22921   56.81
Horizon_Activ        7030   17.42
Gen_Active           7030   17.42
RAV_Rev              5795   14.36
Mrev_Cj              5726   14.19
Ancbanc_Cj           2491    6.17
Ancien_Banc_Cj       2491    6.17
Ancien_Banc_Tit      1841    4.56
Ancbanc_Tit          1841    4.56
CSP_Tit               672    1.67
MCLFCHAB1             585    1.45
MCLFCSITFAM           553    1.37
Ancien_Prof_Tit       114    0.28
Mrev_Tit               77    0.19
Age_Tit                 5    0.01
Tx_Edt                  1    0.00
Ratio_Ress_RAV          1    0.00
DMA                     0    0.00
Charge                  0    0.00
Ressource               0    0.00
ZCOM_SR_CL_MIMPOTS      0    0.00
Fraudeur                0    0.00
Flag_Actif              0    0.00
Flag_CTX                0    0.00
RAV                     0    0.00
MDPRBDUREE              0    0.00
Mdecouvert              0    0.00
Flag_Finance            0    0.00
ACP                     0    0.00
Decision_Finale         0    0.00
SS                      0    0.00
REF                     0    0.00
MDPRCPRODCOM            0    0.00
BP                      0    0.00
MDPRCTYPEPROD           0    0.00
Entite                  0    0.00
Gen_Demande             0    0.00

Variables avec au moins une valeur manquante:
                 nb_na  pct_na
Ancien_Prof_Cj   38947   96.53
Ancien_Habit     36249   89.84
Age_Cj           35861   88.88
Nb_Enf           35727   88.55
CSP_Cj           22921   56.81
Horizon_Activ     7030   17.42
Gen_Active        7030   17.42
RAV_Rev           5795   14.36
Mrev_Cj           5726   14.19
Ancbanc_Cj        2491    6.17
Ancien_Banc_Cj    2491    6.17
Ancien_Banc_Tit   1841    4.56
Ancbanc_Tit       1841    4.56
CSP_Tit            672    1.67
MCLFCHAB1          585    1.45
MCLFCSITFAM        553    1.37
Ancien_Prof_Tit    114    0.28
Mrev_Tit            77    0.19
Age_Tit              5    0.01
Tx_Edt               1    0.00
Ratio_Ress_RAV       1    0.00

In [14]:
df["Nb_Enf"] = df["Nb_Enf"].fillna(0)

df["Mrev_Tit"] = df["Mrev_Tit"].fillna(df["Mrev_Tit"].median())

df["Ancbanc_Tit"] = df["Ancbanc_Tit"].fillna(df["Ancbanc_Tit"].median())

df["Ancien_Banc_Tit"] = df["Ancien_Banc_Tit"].fillna(df["Ancien_Banc_Tit"].median())

df["Ancien_Prof_Tit"] = df["Ancien_Prof_Tit"].fillna(df["Ancien_Prof_Tit"].median())

df["Ratio_Ress_RAV"] = df["Ratio_Ress_RAV"].fillna(df["Ratio_Ress_RAV"].median())

df["RAV_Rev"] = df["RAV_Rev"].fillna(df["RAV_Rev"].median())

df["Age_Tit"] = df["Age_Tit"].fillna(df["Age_Tit"].median())

df["Tx_Edt"] = df["Tx_Edt"].fillna(df["Tx_Edt"].median())

df["MCLFCHAB1"] = df["MCLFCHAB1"].fillna('Missing')

df["MCLFCSITFAM"] = df["MCLFCSITFAM"].fillna('Missing')

df["CSP_Tit"] = df["CSP_Tit"].fillna('Missing')

## Save

In [15]:
df.to_csv("../data/preprocessed_data.csv", index=False)